.breathe-container {
  height: 100vh;
  width: calc(100vw - 5em);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(193, 251, 63, 1) 0%,
    rgba(14, 155, 158, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(253, 187, 45, 1) -11%,
    rgba(153, 32, 227, 1) 69%
  );

  .breathe-circle{
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: aliceblue;
    border-radius: 50%;
    background-color: #df55f3;
    border: 1px solid #d795e1;
    width: 25vw;
    height: 25vw;
    text-align: center;
  }
}
