.nav-link-container{
  height: 100vh;
    display: inline-block;
    background: #b755f3;
    border-right: 2px solid #7e3da7;
  
  .nav-link{
    display: block;
    padding: 1em;
    color: whitesmoke;
  }
}